html {
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* font-family: 'Courier New', Courier, monospace; */
    overflow-y: scroll;
    /* -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%; */
}

body {
    margin: 2;
    line-height: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.education_table {
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    /* border: None; */
}

.education_school {
    width: 80%;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid black;
    border-collapse: collapse;
    /* border: None; */
}

.education_result {
    width: 20%;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid black;
    border-collapse: collapse;
    /* border: None; */
    text-align: center
}

.project_table {
    font-size: 100%;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: 2px solid black; */
    border: None;
    border-collapse: collapse;
}

.project_table {
    font-size: 100%;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: None;
    border-collapse: collapse;
}

.project_title {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: 1px solid black; */
    border: None;
    border-collapse: collapse;
}

.project_guide {
    width: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: 1px solid black; */
    border: None;
    border-collapse: collapse;
}

.project_duration {
    width: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: 1px solid black; */
    border: None;
    text-align: center;
    border-collapse: collapse;
}

.project_description {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: 1px solid black; */
    border: None;
    border-collapse: collapse;
}

.minor_project_table {
    font-size: 100%;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: None;
    border-collapse: collapse;
}

.minor_project_title {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: 1px solid black; */
    border: None;
    border-collapse: collapse;
}

.minor_project_td {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: 1px solid black; */
    border: None;
    border-collapse: collapse;
    padding-top: 5px;
}

.minor_project_name {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: 1px solid black; */
    border: None;
    border-collapse: collapse;
}

li {
    margin-top: 10px;
}

td {
    border: None;
}

.position_of_responsibility_table {
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    /* border: None; */
}

.responsibility {
    text-decoration: none;
    width: 80%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid black;
    border-collapse: collapse;
    /* border: None; */
}

.responsibility_duration {
    text-decoration: none;
    width: 20%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid black;
    border-collapse: collapse;
    /* border: None; */
    text-align: right
}

.awards_achievements_table {
    font-size: 100%;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: None;
    border-collapse: collapse;
}

.awards_achievements_td {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: 1px solid black; */
    border: None;
    border-collapse: collapse;
    padding-top: 2px;
}

.interests_hobbies_table {
    font-size: 100%;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: None;
    border-collapse: collapse;
}

.interests_hobbies_td {
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* border: 1px solid black; */
    border: None;
    border-collapse: collapse;
    padding-top: 2px;
}

ul {
    margin: 0;
    /*   padding:0 */
}