html {
  font-size: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  /* font-family: 'Courier New', Courier, monospace; */
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
  /* font-size: 0.8em; */
  line-height: 1;
}

.education>.table {
  font-size: 100%;
  width: 100%;
  padding: 5px;
  border: 0px
}


/* .education>.td {
    width: 60%;
    padding: 2px;
    border: 0px
} */

.td_1 {
  width: 80%;
  padding: 5px;
  border: 0px
}

.td_2 {
  width: 20%;
  padding: 5px;
  border: 0px
}


/* .project>.title {
    margin-bottom: 0px;
}

.project>.meta {
    font-size: 0.8em;
}

.project>.meta>.date {
    float: right;
} */

.project>.table {
  font-size: 100%;
  width: 100%;
  border: 10px
}

.project>.td_1 {
  width: 60%;
  padding: 2px;
}

.project>.table>.project_description {
  width: 100%;
}


/* table {
    width: 100%;
}

td {
    padding: 2px;
} */
